<!DOCTYPE html>
<html lang="en">
<head>
	<title>Application of Big Data</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body>

		<div style="width: 90%; margin: auto; text-align: center;">

			<h1>Application of Big Data</h1>

			<% 
			if (locals.to_edit && locals.to_edit == false){ 
			%>
			<p style="color: red; margin-bottom: 30px; text-align: center;">Please select a bank account to edit.</p>
			<% 
			}
			else if (locals.error == true){ 
				%>
				<p style="color: red; margin-bottom: 30px; text-align: center;"><%= error_message %></p>
				<br />
				<form style="display: inline-block;" action="/">
					<button type="submit" class="btn btn-primary">
						Go to Overview
					</button>
				</form>
				<% 
			}
			else if(locals.was_edited && locals.was_edited == true){ 
			%>
			<p style="color: green; margin-bottom: 30px; text-align: center;">Bank account edited.</p>
			<form style="display: inline-block;" action="/">
				<button type="submit" class="btn btn-primary">
					Go to home
				</button>
			</form>
			<%
			}
			else{
			%>
			<form style="display: inline-block;" action="/">
				<button type="submit" class="btn btn-primary">
					Cancel
				</button>
			</form>
			<br /><br />

			<form action="edit" method="get">
				<div class="form-row">
					<div class="col">
					  <input type="text" class="form-control" placeholder="Account Number" name="account number" value="<%=result.account_number%>">
					</div>
				  </div>
				  <br />
				<div class="form-row">
				  <div class="col">
					<input type="text" class="form-control" placeholder="First name" name="firstname" value="<%=result.firstname%>">
				  </div>
				  <div class="col">
					<input type="text" class="form-control" placeholder="Last name" name="lastname" value="<%=result.lastname%>">
				  </div>
				</div>
				<br />
				<div class="form-row">
					<div class="col">
					  <input type="text" class="form-control" placeholder="Gender" name="gender" value="<%=result.gender%>">
					</div>
					<div class="col">
					  <input type="text" class="form-control" placeholder="Age" name="age" value="<%=result.age%>">
					</div>
				  </div>
				  <br />
				  <div class="form-row">
					<div class="col">
					  <input type="text" class="form-control" placeholder="State" name="state" value="<%=result.state%>">
					</div>
					<div class="col">
					  <input type="text" class="form-control" placeholder="City" name="city" value="<%=result.city%>">
					</div>
				  </div>
				  <br />
				  <div class="form-row">
					<div class="col">
					  <input type="text" class="form-control" placeholder="Address" name="address" value="<%=result.address%>">
					</div>
					<div class="col">
					  <input type="text" class="form-control" placeholder="email" name="email" value="<%=result.email%>">
					</div>
				  </div>
				  <br />
				  <div class="form-row">
					<div class="col">
					  <input type="text" class="form-control" placeholder="Employer" name="employer" value="<%=result.employer%>">
					</div>
					<div class="col">
					  <input type="text" class="form-control" placeholder="Balance" name="balance" value="<%=result.balance%>">
					</div>
				  </div>
				  <br />

				  <button  type="submit" class="btn btn-warning" name="id" value="<%=result._id%>">
					Edit
				</button>
			</form>

			<%
			}
			%>
	
		</div>


<script type="text/javascript">
	function myFunction()
{
	console.log("clicked");
    document.getElementById('custom_loader').setAttribute("style", "visibility: visible");
}

function deleteOnClick()
{
	console.log("clicked");
	<% locals.tmpId = 12; %>
	

}
 </script>

<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>
